.heading{
  text-align: center;
  padding: 2.5rem;
}

.heading span{
  font-size: 3rem;
  background: #e1bee7;
  color: var(--orange);
  border-radius: .5rem;
  padding: .2rem 1rem;
}


.continents .box-container{
  display: flex;
  flex-wrap: wrap;
  gap:2rem;
}

.continents .box-container .box{
  flex:1 1 25rem;
  border-radius: .5rem;
  overflow: hidden;
  box-shadow: 0 1rem 2rem rgba(0,0,0,.1);
  text-align: center;
}

.continents .box-container .box img{
  height: 20rem;
  width:100%;
  object-fit: cover;

}

.continents .box-container .box .content{
  padding: 1px;
}

.continents .box-container .box .content h3{
  font-size:2rem;
  color:#000;
}



@media (max-width:1000px){             
  html{
    font-size: 70%;
  }
  .continents .box-container .box{
    flex: 40rem;
  }
  .continents .box-container .box img{
    height: 30rem;
  }
}

@media (max-width:970px){
  .continents{
    font-size: 50%;
  }
  .continents .box-container .box{
    flex: 30rem;
  }
  .continents .box-container .box img{
    height: 30rem;
  }
} 

@media (max-width:550px){
  html{
    font-size: 55%;
  }
}

@media (max-width:450px){
  html{
    font-size: 35%;
  }
}